@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400&display=swap");

:root {
	--background: rgb(99, 43, 52);
	--main: rgba(255, 255, 255, 0.79);
	--accent: rgb(236, 98, 121);
	--subtext: grey;
	--inverse-subtext: rgba(255, 255, 255, 0.7);
	--input: rgb(112, 65, 73);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Karla", sans-serif, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	background-color: var(--background);
}

.main {
	display: grid;
	background-color: var(--main);
	width: 50%;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: 70% 1fr;
	margin: 5vh auto;
	padding: 40px 30px 30px;
	opacity: 0;
	border-radius: 35px;
	box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.35);
}

.main.loaded {
	opacity: 1;
	animation: 0.5s ease-out 0s 1 fade-in;
}

.input-container {
	margin: 20vh auto 0;
	width: fit-content;
}

input[type="text"] {
	border: none;
	border-radius: 20px;
	padding: 0.5rem 2rem 0.5rem 0.7rem;
	background-color: var(--input);
	color: white;
	font-weight: bold;
}

input[type="text"]::placeholder {
	color: white;
	opacity: 0.3;
}

.search-city {
	font-size: 1.5rem;
	background-color: transparent;
	border: none;
	color: var(--accent);
	padding: 1rem;
	vertical-align: middle;
	cursor: pointer;
	transition: transform 0.5s;
}

/* Modules */

.temp-info {
	grid-area: 1/1/2/2;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	border-right: 3px dotted var(--accent);
}

.location-info {
	grid-area: 1/2/2/3;
	display: flex;
	flex-direction: column;
	text-align: right;
	justify-content: center;
	margin-right: 4rem;
	gap: 0.5rem;
}

.extra-info {
	grid-area: 2/1/3/3;
	display: flex;
	align-items: center;
	place-self: center;
	justify-content: space-between;
	padding: 2rem 5rem;
	background-color: var(--accent);
	border-radius: 15px;
	margin: 2rem auto 0;
	gap: 4rem;
	flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
	.main {
		width: 100vw;
		overflow-x: hidden;
		display: flex;
		flex-wrap: wrap;
	}

	.temp-info {
		border: none;
	}

	.location-info {
		padding: 0;
		margin: 2rem auto;
	}

	.extra-info {
		flex-direction: column;
		margin: 0 auto;
		width: 80vw;
	}
}

/* Components */

.temp-info > .weather-icon {
	grid-area: 1/1/-1/2;
	justify-self: right;
	align-self: center;
	margin-right: -1rem;
}

.temp-info > .weather-icon > img {
	height: 150px;
}

.temp-info > .temperature {
	justify-self: last baseline;
	font-size: 7rem;
	font-weight: 200;
	grid-area: 1/2/-1/3;
	place-self: center;
	width: 12rem;
	text-align: center;
}

.temp-info > .feels-like {
	align-self: center;
	font-size: 0.9rem;
	margin-top: -2rem;
}

.temp-info > .feels-like > .feels-like-temp {
	color: var(--accent);
	font-size: 1.1rem;
}

.temp-info > .unit-selector {
	align-self: flex-end;
	font-size: 2rem;
	margin-left: -1rem;
	color: white;
	width: 3rem;
	height: 2.6rem;
	border-radius: 15px;
	text-align: center;
	transition: transform 200ms;
	background-color: var(--accent);
}

.location-info > .weather-main {
	font-size: 2.2rem;
	color: var(--accent);
}

.location-info > .city {
	font-size: 1rem;
	font-weight: bold;
}

.location-info > .country {
	display: none;
}

.location-info > .time {
	color: var(--subtext);
	font-size: 0.8rem;
}

.extra-info .heading {
	font-size: 1.8rem;
	color: white;
}

.extra-info .content {
	font-size: 1.1rem;
	text-align: center;
	margin-top: 0.6rem;
	color: var(--inverse-subtext);
}

/* States */

.temp-info > .unit-selector:hover {
	cursor: pointer;
}

.temp-info > .unit-selector:active {
	transform: rotate(25deg);
}

.search-city:active {
	transform: scale(1.1) rotate(20deg);
}

input.city:focus {
	outline: 1px solid white;
}

@keyframes fade-in {
	0% {
		transform: translateY(-50px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}
